html {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', 'mono';
}

html.splash {
  background: url(Winners_Dont_Use_Drugs.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}

#title {
    text-align: center;
    color: green;
    font-size: 5vh;
    text-decoration: blink;
    margin: 3vh auto;
}

#scores {
    border: solid 1px red;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 4vh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
}

#scores span:nth-child(-n+4) {
    border-bottom: solid 1px green;
}

.rank {
    grid-column: 1;
    text-align: right;
    padding-right: 2vw;
    padding-bottom: 1.6vh;
}

.user {
    grid-column: 2;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 1.6vh;
}

.user a {
    text-decoration: none;
    color: white;
}

.hours {
    grid-column: 3;
    text-align: right;
    padding-left: 2vw;
    padding-bottom: 1.6vh;
}

.jobs {
    grid-column: 4;
    text-align: right;
    padding-left: 2vw;
    padding-bottom: 1.6vh;
}

#footer {
    vertical-align: bottom;
    text-align: center;
    padding-top: 2.2vh;
    font-size: 2.2vh;
}

#footer a {
    color: white;
    text-decoration: none;
}
